# Dependências do Node.js
node_modules/

# Arquivos de configuração de ambiente
.env
.env.local
.env.*.local

# Logs e relatórios de erros
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Diretórios de build e cache
dist/
build/
.cache/
.vscode/

# Configurações de sistemas operacionais
.DS_Store
Thumbs.db

# Arquivos do editor
.idea/
*.swp
*.swo
*.bak
*.tmp

# Arquivos de testes de cobertura
coverage/

# Configurações do Docker
docker-compose.override.yml